statemachine/workflow.asl.json
{
  "StartAt": "Lambda1",
  "States": {
    "Lambda1": {
      "Type": "Task",
      "Resource": "${Lambda1Arn}",
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "StringEquals": "success",
          "Next": "Lambda2"
        }
      ],
      "Default": "Lambda3"
    },
    "Lambda2": {
      "Type": "Task",
      "Resource": "${Lambda2Arn}",
      "End": true
    },
    "Lambda3": {
      "Type": "Task",
      "Resource": "${Lambda3Arn}",
      "End": true
    }
  }
}